
{%include 'homeheader.html'%}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title> 
    <link rel="stylesheet" href="style.css">
   </head>
<body>
    <center>
        <br><br><br> 
  <div class="wrapper">
    <br><br><br><br><br><br>
    <h2 style="color: beige;">Registration</h2>

    <form action="" method="post">
      <div class="input-box">
        <input type="text" placeholder="Company name" name="cmp" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Place"  name="place" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Phone"  name="ph" required>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Enter your email" name="mail" required>
      </div>
      <div class="input-box">
        <input type="date" placeholder="est_year" name="year" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Username" name="uname" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder=" password"  name="password" required>
      </div>
      <div class="input-box button">
        <br>
        <input type="Submit" value="Register Now" name="reg" >
      </div>
      <div class="text">
        <h5 style="color: beige;">Already have an account? <a href="/login">Login now</a></h5>
      </div>
    </form>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</center>
</body>

</html>
<style>
    body{
        background-image: url('/static/assets/offffff.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

       
    <!-- <form action="" method="post">
        <table>
            
            <tr>
                <th>username</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password" name="password"></td>
            </tr>
            <tr><th>company_name</th>
            <td><input type="text" name="cmp"></td></tr>
            <tr>
                <th>place</th>
                <td>
                    <input type="text" name="place" >
                </td>
            </tr>
            <tr>
                <th>phone
                </th>
                <td><input type="text" name="ph"></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input type="email" name="mail"></td>
            </tr>
            <tr>
                <th>est_year</th>
                <td><input type="date" name="year"></td>
            </tr>
            <tr>
                <td>
                    <td colspan="2" align="center"><input type="submit" value="submit" name="reg">
                </td>
            </tr>
        </table>
    </form> -->
</body>

</html>
{%include 'footer.html'%}
