{%include 'homeheader.html'%}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   </head>
<body>
      <center>
        <br><br><br><br><br><br><br>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title" style="color: aliceblue; font-family:Arial, Helvetica, sans-serif;"><h2>Login</h2></div>
            <br>
          <form action="" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" placeholder="Enter your username" name="uname" required>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Enter your password" name="psw" required>
              </div><br>
              <div class="button input-box">
                <input type="submit" value="Submit" name="log" >
        </form>
      </div>
       
      </form>
    </div>
    </div>
    </div>
  </div>
</center>
</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<center>
    <form action="" method="post" style="margin-top: 300px;">
        <table>
            <tr>
                <th>username</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password" name="psw"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="login" name="log"></td>
            </tr>
         

        </table> -->

       

</center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>
<style>
    body{
        background-image: url('/static/assets/offffff.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

{%include 'footer.html'%}