{%include 'adminheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <br><br><br><br><br>
    <table align="center" >
        <tr>
            <th style="color: aliceblue;">SEND REPLY:</th>
            <td> <textarea name="rep" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" name="submit" value="submit"></td>
        </tr>
    </table>
</form>
<style>
    body{
        background-image: url('/static/assets/offffff.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</body>
</html>
{%include 'footer.html'%}