{% include 'adminheader.html' %}

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>WELCOME ADMIN<span>.</span></h1>
          <h2>Personality Prediction System through CV Analysis</h2>
        </div>
      </div>

      {%if data['up']%}
    <form action="" method="post" style="margin-top: 100px;">
        <table>
            <tr>
                <th>company name</th>
                <td><input type="text" name="name" value="{{data['up'][0]['company_name']}}"></td>
            </tr>
            <tr>
                <th>place</th>e
                <td><input type="text" name="pl" value="{{data['up'][0]['place']}}"></td>
            </tr>
            <tr>
                <th>phone</th>
                <td><input type="text" name="ph" value="{{data['up'][0]['phone']}}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" name="em" value="{{data['up'][0]['email']}}"></td>
            </tr>
            <tr>
                <th>Est_year</th>
                <td><input type="text" name="est" value="{{data['up'][0]['est_year']}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="update" name="up"></td>
            </tr>
        </table>
    </form>
    {%else%}
    <center>
    <table border="2" style="margin-top: 200px;" class="table table-info">
        <tr>
            <th style="font-size: 25px;">Company_name</th>
            <th style="font-size: 25px;" >Place</th>
            <th style="font-size: 25px;">Phone No</th>
            <th style="font-size: 25px;">Email</th>
            <th style="font-size: 25px;">Est_year</th>
            <th style="font-size: 25px;"></th>
            <th></th>
        </tr>

        {% for i in data['view'] %}
        <tr>
            <td>{{i['company_name']}}</td>
            <td>{{i['place']}}</td>
            <td>{{i['phone']}}</td>
            <td>{{i['email']}}</td>
            <td>{{i['est_year']}}</td>
            <td><a href="?action=delete&id={{i['login_id']}}">delete</a>
            <a href="?action=update&id={{i['login_id']}}">update</a>
             <a href="/viewjobs?id={{i['company_id']}}">View Jobs</a></td>
            <td></td>
        </tr>>
        {% endfor %}
    </table><br><br><br><br>
    {%endif%}
    
</center

    </div>
  </section>




{% include 'footer.html' %}